.container {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  object-fit: cover;
  height: 100vh;
  background-image: url(imgs/footerbg4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  h1 {
    position: relative;
    filter: contrast(95%);
    font-family: 'Courier New', Courier, monospace;
    color: transparent;
     font-size: 14rem;
     font-weight: bolder;
    background: url(imgs/textbg5.jpg) repeat;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    animation: test 30s linear infinite;
    -webkit-animation: test 30s linear infinite;
    text-shadow: 2px 5px 60px rgb(2, 2, 2);
   
  }

   h2{position: absolute;
     display: flex;
     text-align: center;
     justify-content: center;
     font-size: 7rem;
     font-weight: bolder;
     z-index: 1;
    color: #1f1e1e ;
     text-shadow: 1px 1px #f84f00;
     transition: 1s;
     
   }
   
   h2:hover{display: block;
    text-shadow: 4px 4px #f84f00,5px 4px #ffffffd0;
   }
}

 


@keyframes test {
  from {
    background-position: 0% 30%;
    top: -560px;
  }

  to {
    background-position: 100% 50%;
    top: 560px;
  }
}
